* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

=======
>>>>>>> d06e1560feb9f734b189518b6c4efb529af0567b
html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
<<<<<<< HEAD
  font-family: Inter, system-ui, sans-serif;
=======
  font-family: Inter, Arial, sans-serif;
>>>>>>> d06e1560feb9f734b189518b6c4efb529af0567b
  background: #ffffff;
  overflow-x: hidden;
}